<div class="contact-container">
  <div class="contact-text">
    <div class="headline">
      <span>Contact me</span>
      <h2>Let´s work together</h2>
    </div>
    <div class="sub-text">
      <span>Got a problem to solve</span>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer ?<span>Let´s talk!</span></p>
    </div>
  </div>
  <div class="contact-form">
    <form>
      <div class="input-container">
        <div>
          <label for="name">Name</label>
          <input [(ngModel)]="contactData.name" type="text" placeholder="Your name goes here"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input [(ngModel)]="contactData.email" type="email" placeholder="Your email goes here"/>
        </div>
        <div>
            <label for="subject">Message</label>
            <input [(ngModel)]="contactData.message" type="text" placeholder="Your message goes here"/>
        </div>
      </div>
      <div class="validate-container">
        <div class="validate">
            <div>
                <label for="">

                </label>
            </div>
        </div>
      </div>
      <button>
        Send message
      </button>
    </form>
  </div>
</div>
