<div class="contact-container">
  <div class="contact-text">
    <div class="headline">
      <span>Contact me</span>
      <h2>Let´s work together</h2>
    </div>
    <div class="sub-text">
      <span>Got a problem to solve</span>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer ?<span>Let´s talk!</span></p>
    </div>
  </div>
  <div class="contact-form">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="input-container">
        <div>
          <label for="name">Name</label>
          <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" id="name" required placeholder="Your name goes here"/>
          @if (!name.valid && name.touched) {
            <span>Invalid name</span>
          }
          <span></span>
        </div>
        <div>
            <label for="email">Email</label>
            <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email" id="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" placeholder="Your email goes here"/>
            @if (!email.valid && email.touched) {
              <span>Invalid Email</span>
            }
        </div>
        <div>
            <label for="message">Message</label>
            <textarea #message="ngModel"  [(ngModel)]="contactData.message" name="message" type="text" id="message" required minlength="4" placeholder="Your message goes here"></textarea>
            @if (!message.valid && message.touched) {
              <span>Invalid message</span>
            }
        </div>
      </div>
      <div class="validate-container">
        <div class="validate">
          <div>
            <input #privacyInput="ngModel"
              [(ngModel)]="contactData.privacy" 
              type="checkbox" 
              id="privacy"
              name="privacy" 
              required
            />
            <label for="privacy"></label>
          </div>
          <div class="privacy-container">
            <p>I´ve read <a href="privacy-policy">privacy-policy</a>
              and agree to the processing of my data as outlined.   
            </p>
          </div>
        </div>
        @if (privacyInput.invalid && contactForm.submitted) {
          <span>Please accept the privacy policy</span>
        }
      </div>
      <button type="submit" class="btn-container">
        <span>Send message</span> 
      </button>
    </form>
  </div>
</div>
