.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 64px 96px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 568px;
}

.headline {
  color: #3dcfb6;
  font-family: "Fira Code";
  > span {
    font-size: 1.5em;
    font-weight: 500;
  }
  > h2 {
    font-size: 4em;
    font-weight: 700;
  }
}

.sub-text {
  font-family: "Fira Code";
  > span {
    color: #3dcfb6;
    font-size: 1.5em;
    font-weight: 500;
  }
  > p {
    color: #fff;
    font-size: 1em;
    > span {
      color: #3dcfb6;
    }
  }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.input-container {
  color: #fff;
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
  width: 100%;
  > div {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 32px;
    border-top: 1px solid #3dcfb6;
    > label {
      font-family: "fira code";
      font-weight: 500;
      font-size: 1.5em;
      color: #3dcfb6;
    }
    >input,textarea {
      font-family: "karla";
      background: none;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 16px;
      color: #fff;
      width: 100%;
      resize: vertical;

      &::placeholder {
        color: #ffffff;
        opacity: 0.7;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.validate-container {
    color: #fff;
    display: flex;
    gap: 48px;
    width: 100%;
    

}

.validate {
    display: flex;
    flex-direction: column;
}

.privacy-container {
    height: auto;
    width: 100%;
    font-family: "Karla";
    > p {
        > a {
            text-decoration: none;
            transition: all 100ms ease-in-out;
            color: #3dcfb6;
            cursor: pointer;
      
            &:hover {
              color: white;
            }
        }
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    background-color: #ffffff00;
    color: #ffffff;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 0px 24px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
  &:hover .btn-content {
    transform: translate(-150%);
  }

  &:hover {
    border-color: rgba(61, 207, 182, 1);
    background-color: rgba(61, 207, 182, 0.05);
  }
}