<nav class="menu-bar">
  

  <!-- Burger-Icon für mobile Ansicht -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Menü-Links -->
  <div class="menu-links" [class.open]="isMenuOpen">
    <label class="switch">
      <input type="checkbox" id="languageToggle" (change)="toggleLanguage($event)" />
      <span class="slider"></span>
      <div>
        <span>EN</span>
        <span>DE</span>
      </div>
    </label>
    <a href="#aboutMe">{{ "menu.aboutMe" | translate }}</a>
    <a href="#skills">{{ "menu.skills" | translate }}</a>
    <a href="#projects">{{ "menu.projects" | translate }}</a>
  </div>
  <img src="../../../assets/img/mylogo/myLogo-full.png" alt="Logo" />
</nav>
