<nav class="menu-bar">
  <div class="menu-container">
    <div class="burger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links" [class.open]="isMenuOpen">
      <label class="switch">
        <input
          type="checkbox"
          id="languageToggle"
          (change)="toggleLanguage($event)"
        />
        <span class="slider"></span>
        <div>
          <span>EN</span>
          <span>DE</span>
        </div>
      </label>
      <div class="menu-item">
        <a href="#aboutMe" (click)="toggleMenu()"
          >{{ "menu.aboutMe" | translate }}
          <div class="dot"></div>
        </a>
      </div>
      <div class="menu-item">
        <a href="#skills" (click)="toggleMenu()">
          {{ "menu.skills" | translate }}
          <div class="dot"></div>
        </a>
      </div>
      <div class="menu-item">
        <a href="#projects" (click)="toggleMenu()">
          {{ "menu.projects" | translate }}
          <div class="dot"></div>
        </a>
      </div>
    </div>
    <a href="/"
      ><img src="../../../assets/img/mylogo/myLogo-full.png" alt="Logo"
    /></a>
  </div>
</nav>
