.atf-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: "Fira Code";
}

.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .menu-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }
  img {
    width: 132px;
    height: 48px;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  
  
  }

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 80px;
  > h2 {
    font-family: "Fira Code";
    font-weight: 400;
    font-size: 3em;
  }
  > h1 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 8em;
  }
}

.action-btn {
  width: 100%;
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .btn {
    display: flex;
    flex-direction: row;
    gap: 2em;
    > a {
      font-family: "Karla";
      color: #ffffff;
      text-decoration: none;
      font-size: 1.125em;
      border: 1px solid #ffffff;
      border-radius: 100px;
      padding: 16px 24px;
      cursor: pointer;
      transition: all 125ms ease-in-out;
      &:hover {
        background-color: #08463b3f;
        transform: scale(1.05);
      }
    }
  }
}

.nav-sozial-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 30px;
    border: 1px solid #3dcfb6;
    border-radius: 32px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #08463ba4;
    }
  }
}

.seperator {
    height: 200px;
    width: 1px;
    border: 1px solid #ffffff;
}

.sozial-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  > .mail {
    font-size: 1.125em;
    font-family: "Karla";
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    transform: rotate(-90deg);
    width: 100%;
    position: relative;
    bottom: 112px;
    transition: all 125ms ease-in-out;
    &:hover {
      color: #3dcfb6;
    }
  }
  > a {
    >img{
      transition: all 125ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        filter: drop-shadow(-2px 2px 1px #304440);
    }
  }
}
}

/* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
  font-family: "karla";
  position: relative;
  display: inline-block;
  width: 84px;
  height: 28px;
  >div {
    position: absolute;
    top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 11px;
    color: rgba(255, 255, 255, 0.5);
  }
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa00;
  border: 2px solid #3DCFB6;
  border-radius: 100px;
  transition: all 125ms ease-in-out;
}

.slider:before {
  font-family: "karla";
  position: absolute;
  content: "EN";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 44px;
  inset: 0;
  background-color: #3DCFB6;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 100ms ease-in-out;
}

.slider.de:before {
  content: "DE";
}

.switch input:checked + .slider {
  background: #6992c000;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0975f100;
}

.switch input:checked + .slider:before {
  transform: translateX(36px);
}

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 35px;
  left: -100px;
  right: -100px;
  height: 62px;
  border: 1px solid #3dcfb6;
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(-3deg);;
}

.banner-content{
  display: flex;
  align-items: center;
  gap: 56px;
  font-family: "Karla";
  font-size: 2em;
  color: #3DCFB6;
  >img {
    width: 8px;
    height: 8px;
  };
}