$animationLength: 25s;

.atf-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: "Fira Code";
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  color: #d9d9d9;
  text-align: center;
  margin-bottom: 80px;
  > h2 {
    font-family: "Fira Code";
    font-weight: 400;
    font-size: 3em;
  }
  > h1 {
    font-family: "Karla";
    font-weight: 700;
    font-size: 8em;
  }
  @media screen and (max-width: 1214px) {
    > h2 {
      font-size: 2em;
    }

    > h1 {
      font-size: 5em;
    }
  }
  @media screen and (max-width: 470px) {
    > h2 {
      font-size: 1.5em;
    }

    > h1 {
      font-size: 3em;
    }
  }
  @media screen and (max-width: 340px) {
    > h2 {
      font-size: 1.5em;
    }

    > h1 {
      font-size: 2.5em;
    }
  }
  
}

.action-btn {
  width: 100%;
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .btn {
    display: flex;
    flex-direction: row;
    gap: 2em;
    > a {
      font-family: "Karla";
      color: #ffffff;
      text-decoration: none;
      font-size: 1.125em;
      border: 1px solid #ffffff;
      border-radius: 100px;
      padding: 16px 24px;
      cursor: pointer;
      transition: all 125ms ease-in-out;
      &:hover {
        background-color: #08463b3f;
        transform: scale(1.05);
      }
    }
  }

}

.nav-sozial-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 96px;
  @media (max-width: 768px) {
    padding: 0 24px;
  }
}

.bottom-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 30px;
    border: 1px solid #3dcfb6;
    border-radius: 32px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #08463ba4;
    }
  }
}

.seperator {
  height: 200px;
  width: 1px;
  border: 1px solid #3dcfb6;
}

.sozial-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 24px;

  > .mail {
    font-size: 1.125em;
    font-family: "Karla";
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    transform: rotate(-90deg);
    position: relative;
    bottom: 112px;
    transition: all 125ms ease-in-out;

    .mail-text {
      display: inline;
    }

    .mail-icon {
      display: none;
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: #3dcfb6;
    }
  }

  @media screen and (max-width: 768px) {
    > .mail {
      transform: none;
      position: static;

      .mail-text {
        display: none;
      }

      .mail-icon {
        display: block;
      }
    }
  }

  > a {
    > img {
      transition: all 125ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        filter: drop-shadow(-2px 2px 1px #304440);
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  gap: 56px;
  bottom: 55px;
  left: -100px;
  right: -100px;
  height: 62px;
  background-color: rgba(56, 61, 64, 0.45);
  transform: rotate(-3deg);
  backdrop-filter: blur(4px);
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(28, 28, 28, 1),
      rgba(28, 28, 28, 0) 10%,
      rgba(28, 28, 28, 0) 90%,
      rgba(28, 28, 28, 1)
    );
  }
  @media screen and (max-width: 550px) {
    display: none;
}
}

.banner-content {
  animation: scroll $animationLength linear infinite;
  display: flex;
  align-items: center;
  gap: 56px;
  font-family: "Karla";
  font-size: 2em;
  color: #3dcfb6;
  min-width: max-content;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 380px) {
  .action-btn .btn > #contact {
    display: none;
  }
}

