<div class="atf-container">
  <nav class="menu-bar">
    <div class="menu-links">
      <div class="switch-button">
        <input type="checkbox" />
      </div>
      <ul>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </div>
    <img src="../../../assets/img/mylogo/myLogo-full.png" alt="" />
  </nav>
  <div class="headline">
    <h2>Frontend Developer</h2>
    <h1>Robert Böpple</h1>

    <div class="action-btn">
      <div class="btn">
        <a href="">Check my work</a>
        <a href="">Contact me</a>
      </div>
    </div>
  </div>
</div>

