<div class="atf-container">
  <div class="headline">
    <h2>{{ "headline.title" | translate }}</h2>
    <h1>{{ "headline.name" | translate }}</h1>

    <div class="action-btn">
      <div class="btn">
        <a href="#projects">{{ "headline.checkWork" | translate }}</a>
        <a href="#contact">{{ "headline.contactMe" | translate }}</a>
      </div>
    </div>
  </div>
</div>
<div class="nav-sozial-links">
  <div class="bottom-nav">
    <a href="#aboutMe"
      ><img src="../../../assets/icons/above-arrow.png" alt=""
    /></a>
    <div class="seperator"></div>
  </div>
  <div class="sozial-links">
    <a class="mail" href="mailto:robert.boepple@gmail.com">
      <span class="mail-text">robert.boepple&#64;gmail.com</span>
      <img
        class="mail-icon"
        src="../../../assets/icons/mail.png"
        alt="E-Mail"
      />
    </a>
    <a
      href="https://github.com/RobertBoepple"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Robert Böpple's GitHub profile"
    >
      <img src="../../../assets/icons/github.png" alt="GitHub icon" />
    </a>
    <a
      href="https://www.linkedin.com/in/robert-boepple/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Robert Böpples LinkedIn Profil"
    >
      <img src="../../../assets/icons/linkedin.png" alt="LinkedIn Symbol" />
    </a>
    <div class="seperator"></div>
    <div class="banner">
      <div class="banner-content">
        @for (banner of banners; track $index) {
        <img src="../../../assets/icons/dot.png" alt="" />
        <div>
          <span>{{ "banner-content." + ($index + 1) | translate }}</span>
        </div>
        }
      </div>
      <div class="banner-content">
        @for (banner of banners; track $index) {
        <img src="../../../assets/icons/dot.png" alt="" />
        <div>
          <span>{{ "banner-content." + ($index + 1) | translate }}</span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
