<div class="atf-container">
  <div class="headline">
    <h2>{{ "headline.title" | translate }}</h2>
    <h1>{{ "headline.name" | translate }}</h1>

    <div class="action-btn">
      <div class="btn">
        <a href="#projects">{{ "headline.checkWork" | translate }}</a>
        <a id="contact" href="#contact">{{ "headline.contactMe" | translate }}</a>
      </div>
    </div>
  </div>
</div>
<div class="nav-sozial-links">
  <div class="bottom-nav">
    <a href="#contact"><img src="../../../assets/icons/above-arrow.png" alt="" /></a>
    <div class="seperator"></div>
  </div>
  <div class="sozial-links">
    <a class="mail" href="mailto:robert.boepple@gmail.com">
      <span class="mail-text">robert.boepple&#64;gmail.com</span>
      <img class="mail-icon" src="../../../assets/icons/mail.png" alt="E-Mail" />
    </a>
    <a href="https://github.com/RobertBoepple"
      ><img src="../../../assets/icons/github.png" target="_blank" alt=""
    /></a>
    <a href="https://www.linkedin.com/in/robert-boepple/"
      ><img src="../../../assets/icons/linkedin.png" target="_blank" alt=""
    /></a>
    <div class="seperator"></div>
    <div class="banner">
      <div class="banner-content">
        @for (banner of banners; track $index) {
        <img src="../../../assets/icons/dot.png" alt="" />
        <div><span>{{ "banner-content." + ($index+1) | translate }}</span></div>
        }
      </div>
      <div class="banner-content">
        @for (banner of banners; track $index) {
        <img src="../../../assets/icons/dot.png" alt="" />
        <div><span>{{ "banner-content." + ($index+1) | translate }}</span></div>
        }
      </div>
    </div>
  </div>
</div>
