.footer-wrapper{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 96px;
    @media (max-width: 768px) {
        padding: 0 24px;
      }
}

.footer-content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    > img{
        width: auto;
        height: 48px;
    }

    > p{
        font-family: "Karla";
        font-size: 1em;
        font-weight: 400;

    }
}

.footer-content-middle {
    font-family: "Fira Code";
    font-size: 1.125em;
    font-weight: 400;
    color: #3dcfb6;
    @media (max-width: 768px) {
        display: none; /* Versteckt den mittleren Inhalt auf kleineren Bildschirmen */
    }
}

.footer-content-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    > a{
        color: #fff;
        font-family: "Karla";
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        transition: 100ms ease-in-out;
        &:hover {
            color: #3dcfb6;
          }
    }
}