<footer>
    <div class="footer-wrapper">
        <div class="footer-content-left">
            <img src="../../../assets/img/mylogo/myLogo-full.png" alt="">
            <p>Web Developer</p>
            <p>Munich Germany</p>
        </div>
        <div class="footer-content-middle">
            <p>© Robert Böpple</p>
        </div>
        <div class="footer-content-right">
            <a href="https://github.com/RobertBoepple">Github</a>
            <a href="https://www.linkedin.com/in/robert-boepple/">LinkedIn</a>
            <a href="mailto:robert.boepple@gmail.com">Email</a>
            <a href="privacy-policy">Privacy Policy</a>
            <a href="imprint">Legal Notice</a>
        </div>

    </div>
</footer>
