a {
    text-decoration: none;
    color: rgba(61, 207, 182, 1);
  }

  main {
    position: relative;
    color: white;
    font-family: "karla";
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
  }

  .impressum {
    width: 100%;
    max-width: 1920px;
    padding: 0px 48px;
    margin-top: 112px;
      @media screen and (max-width: 768px) {
        padding: 0px 16px;
    
  }
}