<app-header></app-header>
<main>
<div class="impressum">
    <h1>{{ 'privacy.title' | translate }}</h1>
    <br>
    <h2>{{ 'privacy.subtitle' | translate }}</h2>
    <p>Robert Böpple<br>
        Unteranger 49<br>
        85457 Wörth</p>
        <br>
    <h2>{{ 'privacy.representedBy' | translate }}</h2>
    <p>Robert Böpple</p>
    <br>
    <h2>{{ 'privacy.contact' | translate }}</h2>
    <p>Phone: +49 172/8538217</p>

    <span>E-Mail:</span><a href="mailto:robert.boepple@gmail.com"> robert.boepple&#64;gmail.com</a>
    <br>
    <br>
    <h2>{{ 'privacy.disclaimerHeadline' | translate }}</h2>
    <p>{{ 'privacy.disclaimerText' | translate }}</p>
    <br>
    <h2>{{ 'privacy.disclaimLinkHeadline' | translate }}</h2>
    <p> {{ 'privacy.disclaimLinkText' | translate }}</p>
    <br>
    <h2>{{ 'privacy.copyrightHeadline' | translate }}</h2>
    <p>{{ 'privacy.copyrightText' | translate }}</p>
    <br>
    <h2>{{ 'privacy.privacyPolicyHeadline' | translate }}</h2>
    <p>{{ 'privacy.privacyPolicyText' | translate }}</p>
    <br>
    <h2>{{ 'privacy.generatedBy' | translate }}</h2>
    <a href="https://www.impressum-generator.de">impressum-generator.de</a>
    <a href="https://www.kanzlei.biz">Kanzlei Hasselbach</a>

</div>
</main>
<app-footer></app-footer>