.skill-container {
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
  height: 100%;
}

.skill-wrapper-text {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: auto;
  > p {
    font-family: "Karla";
    font-size: 1.5em;
    font-weight: 700;
    color: #3dcfb6;
    padding-bottom: 8px;
    padding-left: 8px;
  }
}

.skill-text {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(35, 140, 122);
  border-radius: 30px;
  background-color: rgba(39, 157, 142, 0.1);
  > h2 {
    font-size: 4em;
    color: #3dcfb6;
    font-family: "Fira Code";
    font-weight: 700;
  }
  > p.about-me {
    font-family: "Karla";
    font-size: 1.125em;
    font-weight: 400;
  }
  > p.contact-me {
    font-family: "Karla";
    font-size: 1em;
    font-weight: 400;
  }
  > div .green {
    font-size: 1.5em;
    font-family: "Fira Code";
    font-weight: 700;
    color: #3dcfb6;
  }
  > div .white {
    font-size: 1.5em;
    font-family: "Fira Code";
    font-weight: 700;
    color: white;
  }
  > button {
    font-family: "Karla";
    font-size: 1.125em;
    background-color: #3dcfb61a;
    width: 122px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 12px 12px;
    cursor: pointer;

    &:hover {
      border-color: #3dcfb6;
      color: white;
    }
  }
}

.skill-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 632px;
}

.skill-icon {
  height: 116px;
  width: 104px;
  font-family: "Fira Code";
  font-size: 1.125em;
  font-weight: 400;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  > img {
    height: 64px;
    width: 64px;
  }
  &:hover {
    transform: rotateY(360deg);
    transition: transform 500ms ease-in-out;
  }
}
