.skill-container {
  color: #ffffff;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6em;
  height: 100%;
  padding: 64px 96px;
  @media screen and (max-width: 1320px) {
    gap: 1em;
  }
  @media screen and (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
        gap : 1em;
    }
    @media screen and (max-width: 920px) {
        padding: 32px 16px;
        height: auto;
    }
}

.skill-wrapper-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 568px;
  height: auto;
  > p {
    font-family: "Karla";
    font-size: 1.5em;
    font-weight: 700;
    color: #3dcfb6;
    padding-bottom: 8px;
    padding-left: 8px;
  }
   @media screen and (max-width: 1214px) {
    > span, p {
      font-size: 1em;
    }
  }
}

.skill-text {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(35, 140, 122);
  border-radius: 30px;
  background-color: rgba(39, 157, 142, 0.1);
  > h2 {
    font-size: 4em;
    color: #3dcfb6;
    font-family: "Fira Code";
    font-weight: 700;
  }
  > p.about-me {
    font-family: "Karla";
    font-size: 1.125em;
    font-weight: 400;
  }
  > p.contact-me {
    font-family: "Karla";
    font-size: 1em;
    font-weight: 400;
  }
  > div .green {
    font-size: 1.5em;
    font-family: "Fira Code";
    font-weight: 700;
    color: #3dcfb6;
  }
  > div .white {
    font-size: 1.5em;
    font-family: "Fira Code";
    font-weight: 700;
    color: white;
  }
  > button {
    font-family: "Karla";
    font-size: 1.125em;
    color: #d9d9d9;
    background-color: #3dcfb61a;
    width: 122px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 12px 12px;
    cursor: pointer;

    &:hover {
      background-color: #08463b3f;
        transform: scale(1.05);
    }
  }
  @media screen and (max-width: 1214px) {
    > h2 {
      font-size: 2em;
    }
    > p.about-me {
      font-size: 1em;
    }
    
    > div .white,
    > div .green {
      font-size: 1em;
    }
}
@media screen and (max-width: 470px) {
    > h2 {
      font-size: 1em;
    }
  }
}
.icons {
  position: relative;
  top: 48px;
  width: 100%;
  max-width: 568px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap:68px;
  flex-wrap: wrap;
  color: white;
  font-size: 18px;
  font-family: "Fira Code";

  > div {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    text-align: center;

    > img {
      z-index: 9;
      height: 60px;
      width: 60px;
      cursor: pointer;
      transition: all 500ms ease-in-out;

      &:hover {
        transform: rotateY(360deg);
        transition: transform 500ms ease-in-out;
      }
    }
  }
  @media screen and (max-width: 460px) {
    gap: 48px;
    font-size: 12px;
  }
  @media screen and (max-width: 415px) {
    gap: 24px;
    font-size: 8px;
  }
}

.speech-cont {
  position: relative;
}

.speech {
  width: auto;
  height: auto;
  padding: 11px;
  display: flex;
  gap: 8px;
  position: absolute;
  top: -100px;
  left: -58px;
  background-color: white;
  border-radius: 16px;
  color: rgba(61, 207, 182, 1);
  font-size: 16px;
  transition: all 125ms ease-in-out;

  > span {
    width: 222px;
    letter-spacing: -1px;
  }

  > div {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  opacity: 0;
  z-index: -2;
}

.sb:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  border-radius: 7px;
  transform: rotate(45deg);
  right: 60%;
  bottom: -9px;
  z-index: -1;
}

.speech-show {
  opacity: 1;
  z-index: 999;
  display: flex;
}