<div class="skill-container">
  <div class="skill-wrapper">
    <div class="main-content">
      <div class="skill-wrapper-text">
        <p>{{ "skillset.skills" | translate }}</p>
        <div class="skill-text">
          <h2>{{ "skillset.skillSet" | translate }}</h2>
          <p class="about-me">{{ "skillset.description" | translate }}</p>
          <div>
            <span class="white">{{ "skillset.skillText" | translate }}</span
            ><span class="green">{{ "skillset.skillSpan" | translate }}</span>
          </div>
          <p class="contact-me">
            {{ "skillset.contactText" | translate }}
          </p>
          <button>{{ "skillset.letsTalk" | translate }}</button>
        </div>
      </div>
      <div class="icons">
        <div class="skill-icon">
          HTML<img src="../../../assets/skill-icons/white/html.png" alt="" />
        </div>
        <div class="skill-icon">
          CSS<img src="../../../assets/skill-icons/white/css.png" alt="" />
        </div>
        <div class="skill-icon">
          JavaScript
          <img src="../../../assets/skill-icons/white/javascript.png" alt="" />
        </div>
        <div class="skill-icon">
          Material Design
          <img src="../../../assets/skill-icons/white/material.png" alt="" />
        </div>
        <div class="skill-icon">
          Typscript
          <img src="../../../assets/skill-icons/white/typescript.png" alt="" />
        </div>
        <div class="skill-icon">
          Angular
          <img src="../../../assets/skill-icons/white/angular.png" alt="" />
        </div>
        <div class="skill-icon">
          Firebase
          <img src="../../../assets/skill-icons/white/firebase.png" alt="" />
        </div>
        <div class="skill-icon">
          GIT <img src="../../../assets/skill-icons/white/git.png" alt="" />
        </div>
        <div class="skill-icon">
          Rest-API
          <img src="../../../assets/skill-icons/white/api.png" alt="" />
        </div>
        <div class="skill-icon">
          Scrum <img src="../../../assets/skill-icons/white/scrum.png" alt="" />
        </div>
        <div class="speech-cont skill-icon last-skill-icon" >
          <div [ngClass]="{ 'speech-show': this.mind }" class="speech sb">
            <span> {{ "skillset.interest" | translate }}</span>
            <div>
              <img src="../../../assets/skill-icons/green/react.png" alt="" />
              <img src="../../../assets/skill-icons/green/vue.png" alt="" />
            </div>
          </div>
          Growth mindset
          <img
            (mouseover)="hover('in')"
            (mouseout)="hover('out')"
            src="../../../assets/skill-icons/green/growth.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
