.references-container {
    border: steelblue 1px solid;
    width: 100%;
    height: 600px;
    padding: 64px 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >h3{
        font-family: "Fira Code";
        font-size: 2em;
        font-weight: 700;
        color: rgba(61, 207, 182, 1);
        text-align: center;
    }
}
app-quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quotes-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    border: solid 1px white;
}