.project-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  > .img-container {
    display: flex;
    align-items: center;
    width: calc(100vw - 1186px);
    position: relative;

    > img {
      width: 295px;
      height: 192px;
      border-radius: 16px;
      opacity: 0;
      position: relative;
      box-shadow: -5px 5px 10px 5px rgba(61, 207, 183, 0.199);
      transition: all 125ms ease-in-out;
    }
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  max-height: 342px;
  transition: all 125ms ease-in-out;
  border-top: 2px solid #3dcfb6;

}

.single-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #3dcfb6;
  gap: 20px;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transition: all 125ms ease-in-out;
  &:hover {
    background-color: rgba(61, 207, 182, 0.3);
  }
}

.name-container {
  display: flex;
  gap: 16px;
  align-items: center;
  >h3 {
    font-size: 1.5em;
    font-family: "Fira Code";
    font-weight: 700;
  }
  >img {
    width: 13px;
    height: 13px;
  }
}

.tech-stack-container {
  font-size: 1.125em;
  font-family: "Karla";
  font-weight: 400;
  
 >span {
  border-right: 1px solid #3dcfb6;
   padding: 0 8px;
 }

 >span:last-child {
   border-right: none;
 }
}
