<div class="project-wrapper">
  <div class="project-container">
    @for (project of projects; track project.index) {
    <div
      class="single-project"
      (mouseover)="hoverProject(project.index)"
      (mouseenter)="onMouseEnter(project.index)"
      (mouseleave)="onMouseLeave(project.index)"
      (click)="openProjectDetails(project)"
    >
      <div class="name-container">
        <h3>{{ project.name }}</h3>
        <img
          [ngClass]="{ 'show-arrow': showArrowHover[project.index] }"
          src="assets/icons/arrow-outward-white.png"
          alt=""
        />
      </div>
      <div class="tech-stack-container">
        @for (tech of project.techStack; track tech.name) {
        <span class="tech-stack">{{ tech.name }}</span>
        }
      </div>
    </div>
    }
  </div>
  <div class="image-container">
    @if (imgPathProject) {
    <img [src]="imgPathProject" alt="Project Image" />
    }
  </div>
  @if (selectedProject) {
  <div class="overlay">
    <div class="overlay-content">
      <div class="overlay-column">
        <div class="project-description">
          <div class="close-button" (click)="closeOverlay()">×</div>
          <h3>{{ selectedProject.id }}</h3>
          <h2>{{ selectedProject.name }}</h2>
          <h4>{{ 'project-overlay.headline' | translate }}</h4>
          <p>{{ selectedProject.descriptionKey | translate }}</p>
          <div class="tech-stack-overlay">
            @for (tech of selectedProject.techStack; track tech.name) {
            <img [src]="tech.image" [alt]="tech.name" class="tech-image">
            <span class="tech-stack">{{ tech.name }}</span>
            
            }
          </div>
          
        </div>
        <div class="button-container">
          @if (selectedProject.githubLink) {
          <a
            [href]="selectedProject.githubLink"
            target="_blank"
            class="project-link"
          >
            <button>GitHub <img src="assets/icons/arrow-outward-white.png" alt="Live Demo"></button>
          </a>
          } @if (selectedProject.liveLink) {
          <a
            [href]="selectedProject.liveLink"
            target="_blank"
            class="project-link"
          >
            <button>Live Demo <img src="assets/icons/arrow-outward-white.png" alt="Live Demo" /></button>
            
          </a>
          }
        </div>
        <div class="next" (click)="goToNextProject()">
          {{ 'project-overlay.next-project'| translate }}
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.7715 20.6667H11.3332C11.1434 20.6667 10.9848 20.603 10.8575 20.4757C10.7302 20.3484 10.6665 20.1898 10.6665 20C10.6665 19.8102 10.7302 19.6517 10.8575 19.5244C10.9848 19.397 11.1434 19.3334 11.3332 19.3334H26.7715L19.5205 12.082C19.3905 11.9522 19.3225 11.7992 19.3165 11.623C19.3105 11.447 19.3811 11.2855 19.5282 11.1384C19.6751 10.9966 19.8323 10.9244 19.9998 10.9217C20.1674 10.9192 20.3246 10.9915 20.4715 11.1384L28.5792 19.246C28.6956 19.3625 28.7773 19.4814 28.8242 19.6027C28.8713 19.724 28.8948 19.8565 28.8948 20C28.8948 20.1436 28.8713 20.276 28.8242 20.3974C28.7773 20.5187 28.6956 20.6376 28.5792 20.754L20.4715 28.8617C20.3468 28.9864 20.1952 29.053 20.0165 29.0617C19.8378 29.0701 19.6751 29.0035 19.5282 28.8617C19.3811 28.7146 19.3075 28.556 19.3075 28.386C19.3075 28.2158 19.3811 28.0572 19.5282 27.9104L26.7715 20.6667Z" fill="#3dcfb6"/>
          </svg>
        </div>
      </div>
      <div class="overlay-column">
        <div class="project-image">
          @if (selectedProject) {
          <img [src]="selectedProject.imgPath" alt="{{ selectedProject.name }}" />
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>
