<div class="about-me-container">
  <div  class="wrapper-about-me">
    <div class="image-container">
      <img src="assets/img/me.png" alt="" />
    </div>
    <div class="wrapper-about-me-text">
      <div class="about-me-headline">
        <p>{{ 'about-me.headline' | translate }}</p>
      </div>
      <div class="about-me-text">
        <h2>{{ 'about-me.title' | translate }}</h2>
        <span>{{ 'about-me.content' | translate }}
        </span>
        <div class="icon-text">
          <img src="../../../assets/icons/location.png" alt="" />
          <p>{{ 'about-me.location' | translate }}</p>
        </div>
        <div class="icon-text">
          <img src="../../../assets/icons/mind.png" alt="" />
          <p>{{ 'about-me.mindset' | translate }}</p>
        </div>
        <div class="icon-text">
          <img src="../../../assets/icons/hook.png" alt="" />
          <p>{{ 'about-me.profession' | translate }}></p>
        </div>
      </div>
    </div>
  </div>
</div>
